udm_6_0_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    Pistoia Alliance UDM XML Schema.

    Copyright (c) Pistoia Alliance, 2018.

    Licensor hereby grants you the right, without charge, on a perpetual,
    non-exclusive and worldwide basis, to utilize this UDM XML Schema
    Definition (and the UDM File Format based on it) for the purpose of
    developing, making, having made, using, marketing, importing, offering to
    sell or license, and selling or licensing, and to otherwise distribute
    products complying with the Definition, in all cases subject to the
    conditions set forth in this Agreement and any relevant patent and other
    intellectual property rights of third parties (which may include members
    of Licensor). This license grant does not include the right to sublicense,
    modify the format or create derivative works of the Definition that are
    not compatible with the UDM File Format, except that licensee may provide
    additional requirements for content included in the SECTION element
    provided that such requirements still validate against the UDM XML schema.
    For the avoidance of doubt, products implementing this Definition are not
    deemed to be derivative works of the UDM XML Schema Definition. 
    
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="6.0.0">
  <xs:element name="UDM_VERSION">
    <xs:complexType>
      <xs:attribute name="MAJOR" type="xs:integer" use="required" fixed="6"/>
      <xs:attribute name="MINOR" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:integer">
	    <xs:minInclusive value="0"/>
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="REVISION" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:integer">
	    <xs:minInclusive value="0"/>
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VERSIONTEXT" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:pattern value="6\.[0-9]*\.[0-9]*"/>
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- Id-Ref - string IDs instead of positive long integers. -->
  <xs:simpleType name="Id-Ref">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Za-z|+/=\-]{1,40}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CAS-Id">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2,7}-[0-9][0-9]-[0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="YesNo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:complexType name="floatRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
  </xs:complexType>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:complexType name="molarityType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="unit" type="xs:string" use="optional" default="mol/l" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:complexType name="percentageType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unit" type="xs:string" use="optional" default="percent" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:complexType name="massType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unit" type="xs:string" use="optional" default="g" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:complexType name="molType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unit" type="xs:string" use="optional" default="mol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:complexType name="calcPropertyType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="method"   type="xs:string" use="optional" />
        <xs:attribute name="software" type="xs:string" use="optional" />
        <xs:attribute name="version"  type="xs:string" use="optional" />
        <xs:attribute name="unit"     type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!--
      NOTE Added in v 5.0.0.

      TODO Find a way to re-use attributes from calcPropertyType by using
      attribute groups.
  -->
  <xs:complexType name="namedPropertyType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="name"   type="xs:string" use="optional" />
        <xs:attribute name="method"   type="xs:string" use="optional" />
        <xs:attribute name="software" type="xs:string" use="optional" />
        <xs:attribute name="version"  type="xs:string" use="optional" />
        <xs:attribute name="unit"     type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!--
      NOTE Added in v 5.0.0.

      TODO Still haven't found a way to override default attribute value of
      unit, so we need a more verbose approach.
  -->
  <xs:complexType name="psaType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="method"   type="xs:string" use="optional" />
        <xs:attribute name="software" type="xs:string" use="optional" />
        <xs:attribute name="version"  type="xs:string" use="optional" />
        <xs:attribute name="unit"     type="xs:string" use="optional" default="Angstrom^2" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:complexType name="molarityRange" mixed="false">
    <xs:choice>
      <!-- max and/or max. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="mol/l" />
  </xs:complexType>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:complexType name="pressureRange" mixed="false">
    <xs:choice>
      <!-- max and/or max. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="Torr" />
  </xs:complexType>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:complexType name="temperatureRange" mixed="false">
    <xs:choice>
      <!-- max and/or max with optional incr. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
        <xs:element name="incr" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:float">
                <xs:attribute name="unit" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="degree_C" />
  </xs:complexType>

  <!-- NOTE Added in v 6.0.0. -->
  <xs:complexType name="percentageRange" mixed="false">
    <xs:choice>
      <!-- max and/or max with optional incr. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
        <xs:element name="incr" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:float">
                <xs:attribute name="unit" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="percent" />
  </xs:complexType>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:complexType name="timeRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="hour" />
  </xs:complexType>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:complexType name="volumeRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="litre" />
  </xs:complexType>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:complexType name="stirringRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="rpm" />
  </xs:complexType>

  <xs:complexType name="sectionData">
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute processContents="skip"/>
  </xs:complexType>

  <xs:element name="sup">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="sub">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="UDM">
    <xs:annotation>
      <xs:documentation>
        The root element of a UDM file.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="UDM_VERSION"/>
	<xs:element ref="LEGAL" minOccurs="0"/>
	<xs:element ref="CITATIONS" minOccurs="0"/>
	<xs:element ref="MOLECULES" minOccurs="1"/>
	<xs:element ref="REACTIONS" minOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="DATABASE" type="xs:string" use="required"/>
      <xs:attribute name="SEQUENCE" type="xs:nonNegativeInteger" use="required"/>
      <xs:attribute name="TIMESTAMP" type="xs:dateTime" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="LEGAL">
    <xs:annotation>
      <xs:documentation>
        Legal information about the dataset.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element name="PRODUCER" type="xs:string" minOccurs="0"/>
	<xs:element ref="TITLE" minOccurs="0"/>
        <!--
            In future we should include a regular expression for Digital
            Object Identifiers (DOIs), but it is not straightforward.
        -->
	<xs:element name="DOI" type="xs:string" minOccurs="0"/>
	<xs:element name="LICENSE" type="licenseData" minOccurs="0"/>
	<xs:element name="COPYRIGHT" type="copyrightData" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="licenseData">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="href" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="copyrightData">
    <xs:sequence>
      <xs:element name="TEXT" type="xs:string" minOccurs="0" />
      <xs:element name="OWNER" type="xs:string" minOccurs="0" />
      <xs:element name="YEAR" type="xs:positiveInteger" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="href" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:element name="CITATIONS">
    <xs:annotation>
      <xs:documentation>
        The list of all citations (journal papers, patents etc.) referenced by
        individual molecules and reactions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="CITATION" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CITATION">
    <xs:annotation>
      <xs:documentation>
        Details of citation associated with a reaction or a
        molecule. Citations can be scientific papers or patents.
     </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="TYPE" minOccurs="0"/>
	<xs:element ref="AUTHOR" minOccurs="0"/>
	<xs:element ref="TITLE" minOccurs="0"/>
	<xs:element ref="JOURNAL" minOccurs="0"/>
	<xs:element ref="YEAR" minOccurs="0"/>
	<xs:element ref="VOL" minOccurs="0"/>
	<xs:element ref="PAGE" minOccurs="0"/>
	<xs:element ref="KEYWORD" minOccurs="0"/>
	<xs:element ref="DOI" minOccurs="0"/>
	<xs:element ref="PATENT_COUNTRY" minOccurs="0"/>
	<xs:element ref="PATENT_NUMBER" minOccurs="0"/>
	<xs:element ref="PATENT_ASSIGNEE" minOccurs="0"/>
	<xs:element ref="PATENT_KIND_CODE" minOccurs="0"/>
	<xs:element ref="PATENT_PUB_DATE" minOccurs="0"/>
	<xs:element ref="ABSTRACT" minOccurs="0"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="TYPE" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Free-text string containing the type of the associated element:
        citation, comment etc.  For example, in case of citations it can
        contain: "paper", "book", "patent" or any other descriptive term.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="AUTHOR" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The author or authors of the cited paper or patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="TITLE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The tile of the cited paper or patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="DOI" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The DOI (Digital Object Identifier) of the cited paper.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
    
  <xs:element name="JOURNAL" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The title of the journal where the cited paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
    
  <xs:element name="VOL" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The volume of the JOURNAL where the cited paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="YEAR" type="xs:positiveInteger">
    <xs:annotation>
      <xs:documentation>
        The year the cited paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PAGE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The page number or page number range in the JOURNAL where the cited
        paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="ABSTRACT" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The abstract of the cited paper.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="KEYWORD" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Keywords associated with the cited paper. 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
    
  <xs:element name="PATENT_COUNTRY" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The country where the cited patent was issued.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_NUMBER" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The number of the cited patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_ASSIGNEE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The assignee of the cited patent. The assignee is the entity that is
        the recipient of a transfer of a patent application or patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
    
  <xs:element name="PATENT_KIND_CODE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The kind code for the cited patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_PUB_DATE" type="xs:date">
    <xs:annotation>
      <xs:documentation>
        The publication date of the cited patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="COMMENT">
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:string">
	  <xs:attribute name="TYPE" type="xs:string"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="SECTION" type="sectionData">
    <xs:annotation>
      <xs:documentation>
        Generic extension point allowing embedding that will be skipped during
        validation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="MOLECULES">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="MOLECULE" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MOLECULE">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="MOLSTRUCTURE" minOccurs="0" maxOccurs="unbounded" />
	<xs:element ref="MW" minOccurs="0"/>
	<xs:element ref="CLP" minOccurs="0"/>
	<xs:element ref="PSA" minOccurs="0"/>
	<xs:element ref="HEV" minOccurs="0"/>
	<xs:element ref="RTB" minOccurs="0"/>
	<xs:element ref="HBD" minOccurs="0"/>
	<xs:element ref="HBA" minOccurs="0"/>
	<xs:element ref="NOC" minOccurs="0"/>
	<xs:element ref="RNG" minOccurs="0"/>
        <!-- NOTE Added in v 5.0.0. -->
        <xs:element ref="PROPERTY" minOccurs="0" />
	<xs:element ref="CC_ID" minOccurs="0"/>
	<xs:element ref="MF" minOccurs="0"/>
	<xs:element ref="NAME" minOccurs="0"/>
	<xs:element ref="CAS" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="LINK" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SYNONYM" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="CALCULATED" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="CIT_ID" type="Id-Ref" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
      <!--Put Action="delete" if you want to delete the item-->
      <xs:attribute name="Action" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="MOLSTRUCTURE">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="format" use="optional" default="molfile">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="cdxml" />
                <xs:enumeration value="inchi" />
                <xs:enumeration value="molfile" />
                <xs:enumeration value="smiles" />
                <xs:enumeration value="wiswesser" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="MF">
    <xs:annotation>
      <xs:documentation>
        The molecular formula.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- NOTE (v 4.0.0): MW (relative molecular mass) - unitless, no attribute
       at the moment. -->
  <xs:element name="MW" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>
        The structure of the molecule represented as an MDL Molfile.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="CLP" type="calcPropertyType">
    <xs:annotation>
      <xs:documentation>
        The value of clogP for the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <!-- NOTE (v 4.0.0): Added default unit for PSA. -->
  <xs:element name="PSA" type="psaType">
    <xs:annotation>
      <xs:documentation>
        The PSA (Polar Surface Area) of the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="HEV" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The heavy actom count.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="RTB" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of rotatable bonds in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="HBD" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of hydrogen bond donors in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="HBA" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of hydrogen bond acceptors in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="NOC" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of carbon atoms in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="RNG" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of rings in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PROPERTY" type="namedPropertyType">
    <xs:annotation>
      <xs:documentation>
        Generic molecular property specified by its name attribute.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="CAS" type="CAS-Id">
    <xs:annotation>
      <xs:documentation>
        The CAS (Chemical Abstracts Service) number assigned to the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="CC_ID" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        Customer-specific registry number.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="NAME">
    <xs:annotation>
      <xs:documentation>
        The preferred name of the molecule, often the most common one.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="SYNONYM">
    <xs:annotation>
      <xs:documentation>
        Synonyms (alternative names) of the molecule.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="CALCULATED">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="LINK">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="IDENTIFIER">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="REACTIONS">
    <xs:annotation>
      <xs:documentation>
        List of all reactions represented in a single UDM file.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="REACTION" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="REACTION">
    <xs:annotation>
      <xs:documentation>
        Single chemical reaction as defined by its reactants and products.  A
        reaction may have variations corresponding to different conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="RXNSTRUCTURE" minOccurs="0"/>
	<xs:element ref="RANK" minOccurs="0"/>
	<xs:element ref="MW_LARGEST_PRODUCT" minOccurs="0"/>
	<xs:element ref="SORT_CREATION_DATE" minOccurs="0"/>
	<xs:element ref="SORT_REACTION_SCALE" minOccurs="0"/>
	<xs:element ref="SORT_REACTION_MOLARITY" minOccurs="0"/>
	<xs:element ref="SORT_TOTAL_VOLUME" minOccurs="0"/>
	<xs:element ref="METABOLITE_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="REACTANT_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="PRODUCT_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="VARIATION" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
      <!--Put Action="delete" if you want to delete the item-->
      <xs:attribute name="Action" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- NOTE (v. 5.0.1): Added format attribute. -->
  <xs:element name="RXNSTRUCTURE">
    <xs:annotation>
      <xs:documentation>
        The diagram of the reaction represented an MDL RXN block, RInChI
        string etc.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="format" use="optional" default="rxn">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="cdxml" />
                <xs:enumeration value="rinchi" />
                <xs:enumeration value="rsmiles" />
                <xs:enumeration value="rxn" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="RANK" type="xs:integer"/>

  <!-- NOTE (v 4.0.0): MW_LARGEST_PRODUCT should be unitless, no attribute. -->
  <xs:element name="MW_LARGEST_PRODUCT" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>
        The molecular weight of the largest product of the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  <xs:element name="SORT_CREATION_DATE" type="xs:date"/>

  <xs:element name="SORT_REACTION_SCALE" type="molarityType" />

  <xs:element name="SORT_REACTION_MOLARITY" type="molarityType" />

  <!-- NOTE (v 4.0.0): Added default unit for SORT_TOTAL_VOLUME. -->
  <xs:element name="SORT_TOTAL_VOLUME">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:float">
          <xs:attribute name="unit" type="xs:string" use="optional" default="litre" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="REACTANT_ID" type="Id-Ref">
    <xs:annotation>
      <xs:documentation>
        Identifier of a reactant in the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="METABOLITE_ID" type="Id-Ref">
    <xs:annotation>
      <xs:documentation>
        Identifier of a metabolic product.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PRODUCT_ID" type="Id-Ref">
    <xs:annotation>
      <xs:documentation>
        Identifier of a product in the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="VARIATION">
    <xs:annotation>
      <xs:documentation>
        List of variations of a given reaction performed in different
        conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="CREATION_DATE" minOccurs="0"/>
	<xs:element ref="EXPERIMENT_ID" minOccurs="0"/>
	<xs:element ref="EXPERIMENT_TYPE" minOccurs="0"/>
	<xs:element ref="MODIFICATION_DATE" minOccurs="0"/>
	<xs:element ref="PROJECT_NAME" minOccurs="0"/>
	<xs:element ref="QUALIFICATION" minOccurs="0"/>
	<xs:element ref="SOURCE" minOccurs="0"/>
	<xs:element ref="DESTINATION" minOccurs="0"/>
	<xs:element ref="RANK" minOccurs="0"/>
	<xs:element ref="CONCLUSION_PHRASE" minOccurs="0"/>
	<xs:element ref="CREATED_AT_SITE" minOccurs="0"/>
	<xs:element ref="DUPLICATE_EXP_REF" minOccurs="0"/>
	<xs:element ref="PREPARATIVE" minOccurs="0"/>
	<xs:element ref="ELN_CITATION" minOccurs="0"/>
	<xs:element ref="REACTION_SCALE" minOccurs="0"/>
	<xs:element ref="NEXTMOVE_REACTION_TYPE" minOccurs="0"/>
	<xs:element ref="RXNO_REACTION_TYPE" minOccurs="0"/>
	<xs:element ref="ANALYTICAL_DATA_EXISTS" minOccurs="0"/>
	<xs:element ref="TECHNOLOGY" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SCIENTIST" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="RESP_SCIENTIST" minOccurs="0"/>
	<xs:element ref="KEYWORDS" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="REACTANT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="PRODUCT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="REAGENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="CATALYST" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SOLVENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="CONDITIONS" minOccurs="0"/>
	<xs:element ref="METABOLITES" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="LINK" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="GROUPS" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="ANIMALS" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="CIT_ID" type="Id-Ref" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
      <xs:attribute name="outcome" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CREATION_DATE" type="xs:date">
    <xs:annotation>
      <xs:documentation>
        The date the experiment (reaction) was originally registered.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="EXPERIMENT_ID" type="xs:string"/>
  <xs:element name="EXPERIMENT_TYPE" type="xs:string"/>

  <xs:element name="MODIFICATION_DATE" type="xs:date">
    <xs:annotation>
      <xs:documentation>
        The date the experiment (reaction) record was modified last time.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PROJECT_NAME" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The name of the project given experiment (reaction) was performed for.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="QUALIFICATION" type="xs:string"/>

  <xs:element name="SCIENTIST" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The scientist who performed the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
    
  <xs:element name="RESP_SCIENTIST" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The scientist responsible for the design and the performance of the
        reaction (often a lab head).
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="SOURCE" type="xs:string"/>
  <xs:element name="DESTINATION" type="xs:string"/>
  <xs:element name="CONCLUSION_PHRASE" type="xs:string"/>
  <xs:element name="CREATED_AT_SITE" type="xs:string"/>
  <xs:element name="DUPLICATE_EXP_REF" type="xs:string"/>
  <xs:element name="PREPARATIVE" type="YesNo"/>
  <xs:element name="ELN_CITATION" type="xs:string"/>

  <!-- NOTE (v 4.0.0): Added default unit for REACTION_SCALE. -->
  <xs:element name="REACTION_SCALE" type="molType" />

  <xs:element name="NEXTMOVE_REACTION_TYPE" type="xs:string"/>
  <xs:element name="RXNO_REACTION_TYPE" type="xs:string"/>
  <xs:element name="ANALYTICAL_DATA_EXISTS" type="YesNo"/>

  <xs:element name="KEYWORDS">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="GROUPS">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="EXAMPLE" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="FUNCTIONAL" minOccurs="0"/>
	<xs:element ref="PROTECTING" minOccurs="0"/>
	<xs:element ref="TOLERATED" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="EXAMPLE">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="CONDITION" minOccurs="0"/>
	<xs:element ref="COMMENT" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="TYPE" type="xs:string"/>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CONDITION">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="FUNCTIONAL">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="PROTECTING">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="TOLERATED">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0">
	<xs:element ref="sup"/>
	<xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ANIMALS">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="EXCRETION" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="ROUTE" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SPECIES" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="EXCRETION" type="xs:string"/>
  <xs:element name="ROUTE" type="xs:string"/>
  <xs:element name="SPECIES" type="xs:string"/>
  <xs:element name="TECHNOLOGY" type="xs:string"/>

  <!-- NOTE (v 4.0.0): Added default unit for AMOUNT unit default="mol". -->
  <xs:element name="AMOUNT" type="molType" />

  <xs:element name="COLOR" type="xs:string"/>

  <!-- NOTE (v 4.0.0): Added default unit for YIELD. -->
  <xs:element name="YIELD" type="percentageRange" />

  <!-- NOTE (v 4.0.0): Added default unit for CONVERSION. -->
  <xs:element name="CONVERSION" type="percentageType" />

  <xs:element name="FORM" type="xs:string"/>

  <!-- NOTE (v 4.0.0): Added default unit for VOLUME. -->
  <xs:element name="VOLUME">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:float">
          <xs:attribute name="unit" type="xs:string" use="optional" default="litre" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- NOTE (v 4.0.0): Added default unit for PURITY. -->
  <xs:element name="PURITY" type="percentageType" />

  <!-- NOTE (v 4.0.0): Added default unit for ENANTIOMERIC_PURITY. -->
  <xs:element name="ENANTIOMERIC_PURITY" type="percentageType" />

  <!-- NOTE Added in v 5.0.0. -->
  <xs:element name="EXPECTED_AMOUNT" type="molType" />
  <xs:element name="EXPECTED_MASS" type="massType" />

  <xs:element name="SAMPLE_ID" type="xs:string"/>
  <xs:element name="SAMPLE_REF" type="xs:string"/>
  <xs:element name="COMPOUND_NAME" type="xs:string"/>

  <!-- NOTE (v 4.0.0): Added default unit for EQUIVALENTS. -->
  <xs:element name="EQUIVALENTS" type="percentageType" />

  <!-- NOTE Added in v 5.0.0. -->
  <xs:element name="DENSITY">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" type="xs:string" use="optional" default="g/ml" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:element name="LOADING">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" type="xs:string" use="optional" default="mmol/g" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- NOTE Added in v 5.0.0. -->
  <xs:element name="MOLARIITY" type="molarityType" />
  <xs:element name="PERCENT_WEIGHT" type="percentageType" />
  <xs:element name="SAMPLE_MASS" type="massType"/>

  <xs:element name="METABOLITES">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="AMOUNT" minOccurs="0"/>
	<xs:element ref="EQUIVALENTS" minOccurs="0"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="REACTANT">
    <xs:annotation>
      <xs:documentation>
        Single reactant involved in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="NAME" minOccurs="0"/>
	<xs:element ref="AMOUNT" minOccurs="0"/>
	<xs:element ref="FORM" minOccurs="0"/>
	<xs:element ref="COLOR" minOccurs="0"/>
	<xs:element ref="VOLUME" minOccurs="0"/>
	<xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <!-- NOTE Added in v 5.0.0. -->
	<xs:element ref="DENSITY" minOccurs="0"/>
	<xs:element ref="ENANTIOMERIC_PURITY" minOccurs="0"/>
	<xs:element ref="LOADING" minOccurs="0"/>
	<xs:element ref="MOLARIITY" minOccurs="0"/>
	<xs:element ref="PERCENT_WEIGHT" minOccurs="0"/>
	<xs:element ref="SAMPLE_MASS" minOccurs="0"/>
        <!-- NOTE END of added in v 5.0.0. -->
        <xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="PRODUCT">
    <xs:annotation>
      <xs:documentation>
        Single product involved of the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="NAME" minOccurs="0"/>
	<xs:element ref="AMOUNT" minOccurs="0"/>
	<xs:element ref="FORM" minOccurs="0"/>
	<xs:element ref="COLOR" minOccurs="0"/>
	<xs:element ref="YIELD" minOccurs="0"/>
	<xs:element ref="CONVERSION" minOccurs="0"/>
	<xs:element ref="PURITY" minOccurs="0"/>
	<xs:element ref="ENANTIOMERIC_PURITY" minOccurs="0"/>
	<xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <!-- NOTE Added in v 5.0.0. -->
	<xs:element ref="EXPECTED_AMOUNT" minOccurs="0"/>
	<xs:element ref="EXPECTED_MASS" minOccurs="0"/>
	<xs:element ref="SAMPLE_MASS" minOccurs="0"/>
        <!-- NOTE END of added in v 5.0.0. -->
	<xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="SOLVENT">
    <xs:annotation>
      <xs:documentation>
        Solvent used in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="NAME" minOccurs="0"/>
	<xs:element ref="AMOUNT" minOccurs="0"/>
	<xs:element ref="FORM" minOccurs="0"/>
	<xs:element ref="COLOR" minOccurs="0"/>
	<xs:element ref="VOLUME" minOccurs="0"/>
        <!-- NOTE Added in v 5.0.0. -->
	<xs:element ref="DENSITY" minOccurs="0"/>
	<xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <!-- NOTE END of added in v 5.0.0. -->
	<xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CATALYST">
    <xs:annotation>
      <xs:documentation>
        Catalyst used in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="NAME" minOccurs="0"/>
	<xs:element ref="AMOUNT" minOccurs="0"/>
	<xs:element ref="FORM" minOccurs="0"/>
	<xs:element ref="COLOR" minOccurs="0"/>
	<xs:element ref="VOLUME" minOccurs="0"/>
	<xs:element ref="ENANTIOMERIC_PURITY" minOccurs="0"/>
	<xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="REAGENT">
    <xs:annotation>
      <xs:documentation>
        Reagent used in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="NAME" minOccurs="0"/>
	<xs:element ref="AMOUNT" minOccurs="0"/>
	<xs:element ref="FORM" minOccurs="0"/>
	<xs:element ref="COLOR" minOccurs="0"/>
	<xs:element ref="VOLUME" minOccurs="0"/>
	<xs:element ref="EQUIVALENTS" minOccurs="0"/>
	<xs:element ref="MOLARITY" minOccurs="0"/>
	<xs:element ref="PURITY" minOccurs="0"/>
	<xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CONDITIONS">
    <xs:annotation>
      <xs:documentation>
        List of experiment (reaction) conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="PREPARATION" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="CONDITION_GROUP" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CONDITION_GROUP">
    <xs:annotation>
      <xs:documentation>
        Groups related conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PROCESS" minOccurs="0" />
        <xs:element ref="REACTANT_ID" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="CATALYST_ID" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="REAGENT_ID" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="SOLVENT_ID" minOccurs="0" maxOccurs="unbounded" />
	<xs:element ref="ATMOSPHERE" minOccurs="0"/>
	<xs:element ref="PH" minOccurs="0"/>
	<xs:element ref="PREPARATION" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="PRESSURE" minOccurs="0"/>
	<xs:element ref="REACTION_MOLARITY" minOccurs="0"/>
	<xs:element ref="REFLUX" minOccurs="0"/>
	<xs:element ref="TEMPERATURE" minOccurs="0"/>
	<xs:element ref="TIME" minOccurs="0"/>
	<xs:element ref="TOTAL_VOLUME" minOccurs="0"/>
        <xs:element ref="BUFFER_TYPE" minOccurs="0" />
        <xs:element ref="BUFFER_CONCENTRATION" minOccurs="0" />
        <xs:element ref="STIRRING" minOccurs="0" />
	<xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--
      We allow any type of content for the PREPARATION element: text string,
      XML elements, mixed and CDATA.  The optional format attribute should be
      used to indicate the format of the contents of the element.
  -->
  <xs:element name="PREPARATION">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="format" use="optional" default="text" />
    </xs:complexType>
  </xs:element>

  <xs:element name="ATMOSPHERE" type="xs:string"/>

  <xs:element name="PH" type="floatRange"/>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:element name="PRESSURE" type="pressureRange"/>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:element name="REACTION_MOLARITY" type="molarityRange"/>

  <xs:element name="MOLARITY" type="molarityType"/>

  <xs:element name="REFLUX" type="xs:string"/>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:element name="TEMPERATURE" type="temperatureRange"/>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:element name="TIME" type="timeRange"/>

  <!-- NOTE Modified in v 5.0.0. -->
  <xs:element name="TOTAL_VOLUME" type="volumeRange" />

  <xs:element name="BUFFER_TYPE" type="xs:string" />

  <!-- TODO Check the default units: mol/l vs g/l vs %. -->
  <xs:element name="BUFFER_CONCENTRATION" type="molarityRange" />

  <!-- NOTE Added in v 5.0.0. -->
  <xs:element name="STIRRING" type="stirringRange" />
  <xs:element name="CATALYST_ID" type="Id-Ref" />
  <xs:element name="REAGENT_ID" type="Id-Ref" />
  <xs:element name="SOLVENT_ID" type="Id-Ref" />
  <xs:element name="PROCESS" type="xs:string" />
</xs:schema>
