udm_6_0_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    Pistoia Alliance UDM XML Schema.

    Copyright (c) Pistoia Alliance, 2018-2020.

    Licensor hereby grants you the right, without charge, on a perpetual,
    non-exclusive and worldwide basis, to utilize this UDM XML Schema
    Definition (and the UDM File Format based on it) for the purpose of
    developing, making, having made, using, marketing, importing, offering to
    sell or license, and selling or licensing, and to otherwise distribute
    products complying with the Definition, in all cases subject to the
    conditions set forth in this Agreement and any relevant patent and other
    intellectual property rights of third parties (which may include members
    of Licensor). This license grant does not include the right to sublicense,
    modify the format or create derivative works of the Definition that are
    not compatible with the UDM File Format, except that licensee may provide
    additional requirements for content included in the SECTION element
    provided that such requirements still validate against the UDM XML schema.
    For the avoidance of doubt, products implementing this Definition are not
    deemed to be derivative works of the UDM XML Schema Definition.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="6.0.0">

  <xs:include schemaLocation="udm_6_0_0_countries.xsd" />
  <xs:include schemaLocation="udm_6_0_0_methods.xsd" />
  <xs:include schemaLocation="udm_6_0_0_reaction_classes.xsd" />
  <xs:include schemaLocation="udm_6_0_0_result_types.xsd" />
  <xs:include schemaLocation="udm_6_0_0_units.xsd" />


  <!--
      Top-level elements, ordered by the data hierarchy.
  -->

  <xs:element name="UDM">
    <xs:annotation>
      <xs:documentation>
        The root element of a UDM file.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UDM_VERSION"/>
        <xs:element ref="LEGAL" minOccurs="0"/>
        <xs:element ref="ORGANISATIONS" minOccurs="0"/>
        <xs:element ref="CITATIONS" minOccurs="0"/>
        <xs:element ref="MOLECULES"/>
        <xs:element ref="REACTIONS"/>
        <!-- Placeholder for reaction routes. -->
        <xs:element name="ROUTES" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="DATABASE" type="xs:string" use="required"/>
      <xs:attribute name="SEQUENCE" type="xs:nonNegativeInteger" use="required"/>
      <xs:attribute name="TIMESTAMP" type="xs:dateTime" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="UDM_VERSION">
    <xs:complexType>
      <xs:attribute name="MAJOR" type="xs:integer" use="required" fixed="6"/>
      <xs:attribute name="MINOR" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="REVISION" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VERSIONTEXT" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="6\.[0-9]*\.[0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="LEGAL">
    <xs:annotation>
      <xs:documentation>
        Legal information about the dataset.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PRODUCER" type="xs:string" minOccurs="0"/>
        <xs:element ref="TITLE" minOccurs="0"/>
        <!--
            In future we should include a regular expression for Digital
            Object Identifiers (DOIs), but it is not straightforward.
        -->
        <xs:element name="DOI" type="xs:string" minOccurs="0"/>
        <xs:element name="LICENSE" type="licenseData" minOccurs="0"/>
        <xs:element name="COPYRIGHT" type="copyrightData" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ORGANISATIONS">
    <xs:annotation>
      <xs:documentation>
        The list of organisations associated with authors in citations and
        reactions (as scientists).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORGANISATION" type="organisationDetailsID" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CITATIONS">
    <xs:annotation>
      <xs:documentation>
        The list of all citations (journal papers, patents etc.) referenced by
        individual molecules and reactions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CITATION" type="citationDetailsID" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MOLECULES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MOLECULE" type="moleculeDetailsID" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="REACTIONS">
    <xs:annotation>
      <xs:documentation>
        List of all reactions represented in a single UDM file.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="REACTION" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="REACTION">
    <xs:annotation>
      <xs:documentation>
        Single chemical reaction as defined by its reactants and products.  A
        reaction may have variations corresponding to different conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RXNSTRUCTURE" minOccurs="0"/>
        <xs:element ref="RANK" minOccurs="0"/>
        <xs:element ref="MW_LARGEST_PRODUCT" minOccurs="0"/>
        <xs:element name="SORT_CREATION_DATE" type="xs:date" minOccurs="0"/>
        <xs:element name="SORT_REACTION_SCALE" type="molarityType" minOccurs="0"/>
        <xs:element name="SORT_REACTION_MOLARITY" type="molarityType" minOccurs="0"/>
        <xs:element ref="SORT_TOTAL_VOLUME" minOccurs="0"/>
        <xs:element ref="METABOLITE_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="REACTANT_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="PRODUCT_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="VARIATION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
      <!--Put Action="delete" if you want to delete the item-->
      <xs:attribute name="Action" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="VARIATION">
    <xs:annotation>
      <xs:documentation>
        List of variations of a given reaction performed in different
        conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CREATION_DATE" minOccurs="0"/>
        <xs:element ref="EXPERIMENT_ID" minOccurs="0"/>
        <xs:element name="EXPERIMENT_TYPE" type="xs:string" minOccurs="0"/>
        <xs:element ref="MODIFICATION_DATE" minOccurs="0"/>
        <xs:element ref="PROJECT_NAME" minOccurs="0"/>
        <xs:element name="QUALIFICATION" type="xs:string" minOccurs="0"/>
        <xs:element name="SOURCE" type="xs:string" minOccurs="0"/>
        <xs:element name="DESTINATION" type="xs:string" minOccurs="0"/>
        <xs:element ref="RANK" minOccurs="0"/>
        <xs:element name="CONCLUSION_PHRASE" type="xs:string" minOccurs="0"/>
        <xs:element name="CREATED_AT_SITE" type="xs:string" minOccurs="0"/>
        <xs:element name="DUPLICATE_EXP_REF" type="xs:string" minOccurs="0"/>
        <xs:element name="PREPARATIVE" type="YesNo" minOccurs="0"/>
        <xs:element name="ELN_CITATION" type="xs:string" minOccurs="0"/>
        <xs:element name="REACTION_SCALE" type="molType" minOccurs="0"/>
        <xs:element name="NEXTMOVE_REACTION_TYPE" type="xs:string" minOccurs="0"/>
        <xs:element name="RXNO_REACTION_TYPE" type="reactionClass" minOccurs="0"/>
        <xs:element name="ANALYTICAL_DATA_EXISTS" type="YesNo" minOccurs="0"/>
        <xs:element name="TECHNOLOGY" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SCIENTIST" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="RESP_SCIENTIST" minOccurs="0"/>
        <xs:element ref="KEYWORDS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="REACTANT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="PRODUCT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="REAGENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CATALYST" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SOLVENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CONDITIONS" minOccurs="0"/>
        <xs:element ref="METABOLITES" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="LINK" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="GROUPS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ANIMALS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="CITATION" type="citationRef" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
      <xs:attribute name="outcome" type="xs:string"/>
    </xs:complexType>
  </xs:element>


  <!--
      Other elements, ordered alphabetically.
  -->

  <xs:element name="ABSTRACT" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The abstract of the cited paper.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="AMOUNT" type="molType" />

  <xs:element name="ANALYTICAL_DATA">
    <xs:annotation>
      <xs:documentation>
        Results of analytical experiments (spetroscopy, chromatography etc.)
        for the associated compound or sample.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EXPERIMENT" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ANIMALS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EXCRETION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="ROUTE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="SPECIES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AUTHOR" type="authorDetails">
    <xs:annotation>
      <xs:documentation>
        A single author of the cited paper or patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="AUTHORS">
    <xs:annotation>
      <xs:documentation>
        The authors of the cited paper or patent.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AUTHOR" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CALCULATED">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CAS" type="CAS-Id">
    <xs:annotation>
      <xs:documentation>
        The CAS (Chemical Abstracts Service) number assigned to the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="CATALYST">
    <xs:annotation>
      <xs:documentation>
        Catalyst used in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MOLECULE" type="moleculeRef" />
        <xs:element ref="NAME" minOccurs="0"/>
        <xs:element ref="AMOUNT" minOccurs="0"/>
        <xs:element ref="FORM" minOccurs="0"/>
        <xs:element ref="COLOR" minOccurs="0"/>
        <xs:element ref="VOLUME" minOccurs="0"/>
        <xs:element ref="ENANTIOMERIC_PURITY" minOccurs="0"/>
        <xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ANALYTICAL_DATA" minOccurs="0" />
        <!-- EHS is reserved for future use - Environment and Health Safety data. -->
        <xs:element name="EHS" minOccurs="0" />
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="SAMPLES" minOccurs="0" />
      </xs:sequence>
      <!-- <xs:attribute name="ID" type="Id-Ref" use="required"/> -->
    </xs:complexType>
  </xs:element>

  <xs:element name="CC_ID" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        Customer-specific registry number.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="CLP" type="calcPropertyType">
    <xs:annotation>
      <xs:documentation>
        The value of clogP for the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="COLOR" type="xs:string"/>

  <xs:element name="COMMENT">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="TYPE" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="COMPOUND_NAME" type="xs:string"/>

  <xs:element name="CONDITION">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="CONDITIONS">
    <xs:annotation>
      <xs:documentation>
        List of experiment (reaction) conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PREPARATION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="CONDITION_GROUP" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CONDITION_GROUP">
    <xs:annotation>
      <xs:documentation>
        Groups related conditions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PROCESS" type="xs:string" minOccurs="0" />
        <xs:element ref="REACTANT_ID" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="REAGENT_ID" type="Id-Ref" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="CATALYST_ID" type="Id-Ref" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="SOLVENT_ID" type="Id-Ref" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ATMOSPHERE" type="xs:string" minOccurs="0"/>
        <xs:element name="PH" type="floatRange" minOccurs="0"/>
        <xs:element ref="PREPARATION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="PRESSURE" type="pressureRange" minOccurs="0"/>
        <xs:element name="REACTION_MOLARITY" type="molarityRange" minOccurs="0"/>
        <xs:element name="REFLUX" type="xs:string" minOccurs="0"/>
        <xs:element name="TEMPERATURE" type="temperatureRange" minOccurs="0"/>
        <xs:element name="TIME" type="timeRange" minOccurs="0"/>
        <xs:element name="TOTAL_VOLUME" type="volumeRange" minOccurs="0"/>
        <xs:element name="BUFFER_TYPE" type="xs:string" minOccurs="0" />
        <xs:element name="BUFFER_CONCENTRATION" type="molarityRange" minOccurs="0" />
        <xs:element name="STIRRING" type="stirringRange" minOccurs="0" />
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CREATION_DATE" type="xs:date">
    <xs:annotation>
      <xs:documentation>
        The date the experiment (reaction) was originally registered.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="DENSITY">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" type="unitMassPerVolume" use="optional" default="g/mL" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="DOI" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The DOI (Digital Object Identifier) of the cited paper.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="ENANTIOMERIC_PURITY" type="percentageType" />

  <xs:element name="EQUIVALENTS" type="equivalentType" />

  <xs:element name="EXAMPLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITION" minOccurs="0"/>
        <xs:element ref="COMMENT" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="TYPE" type="xs:string"/>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="EXPERIMENT">
    <xs:annotation>
      <xs:documentation>
        Single analytical experiment (spetroscopy, chromatography etc.)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EXPERIMENT_ID" minOccurs="0"/>
        <xs:element ref="CREATION_DATE" minOccurs="0" />
        <xs:element name="SYSTEM" type="xs:string" minOccurs="0" />
        <xs:element name="SUMMARY" type="xs:string" minOccurs="0" />
        <xs:element name="DATA" type="analyticalData" minOccurs="0" />
        <xs:element name="DATA_URL" type="analyticalDataUrl" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="method" type="method" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="EXPERIMENT_ID" type="xs:string"/>

  <xs:element name="FORM" type="xs:string"/>

  <xs:element name="FUNCTIONAL">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="GROUPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EXAMPLE" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="FUNCTIONAL" minOccurs="0"/>
        <xs:element ref="PROTECTING" minOccurs="0"/>
        <xs:element ref="TOLERATED" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="HBA" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of hydrogen bond acceptors in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="HBD" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of hydrogen bond donors in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="HEV" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The heavy actom count.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="IDENTIFIER">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="JOURNAL" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The title of the journal where the cited paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="KEYWORD" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Keywords associated with the cited paper.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="KEYWORDS">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="LINK">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="TYPE" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="LOADING">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" type="xs:string" use="optional" default="mmol/g" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="METABOLITES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AMOUNT" minOccurs="0"/>
        <xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="ID" type="Id-Ref" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="METABOLITE_ID" type="Id-Ref">
    <xs:annotation>
      <xs:documentation>
        Identifier of a metabolic product.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="MF">
    <xs:annotation>
      <xs:documentation>
        The molecular formula.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="MODIFICATION_DATE" type="xs:date">
    <xs:annotation>
      <xs:documentation>
        The date the experiment (reaction) record was modified last time.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="MOLARITY" type="molarityType" />

  <xs:element name="MOLSTRUCTURE">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="format" use="optional" default="molfile">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="cdxml" />
                <xs:enumeration value="inchi" />
                <xs:enumeration value="molfile" />
                <xs:enumeration value="smiles" />
                <xs:enumeration value="wiswesser" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="MW" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>
        The structure of the molecule represented as an MDL Molfile.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="MW_LARGEST_PRODUCT" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>
        The molecular weight of the largest product of the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="NAME">
    <xs:annotation>
      <xs:documentation>
        The preferred name of the molecule, often the most common one.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="NOC" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of carbon atoms in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PAGE" type="pageType">
    <xs:annotation>
      <xs:documentation>
        The page number or page number range in the JOURNAL where the cited
        paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_ASSIGNEE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The assignee of the cited patent. The assignee is the entity that is
        the recipient of a transfer of a patent application or patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_COUNTRY" type="country">
    <xs:annotation>
      <xs:documentation>
        The country where the cited patent was issued.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_KIND_CODE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The kind code for the cited patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_NUMBER" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The number of the cited patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PATENT_PUB_DATE" type="xs:date">
    <xs:annotation>
      <xs:documentation>
        The publication date of the cited patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!--
      We allow any type of content for the PREPARATION element: text string,
      XML elements, mixed and CDATA.  The optional format attribute should be
      used to indicate the format of the contents of the element.
  -->
  <xs:element name="PREPARATION">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="format" use="optional" default="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PRODUCT">
    <xs:annotation>
      <xs:documentation>
        Single product involved of the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MOLECULE" type="moleculeRef" />
        <xs:element ref="NAME" minOccurs="0"/>
        <xs:element ref="AMOUNT" minOccurs="0"/>
        <xs:element ref="FORM" minOccurs="0"/>
        <xs:element ref="COLOR" minOccurs="0"/>
        <xs:element name="YIELD" type="percentageRange" minOccurs="0"/>
        <xs:element name="CONVERSION" type="percentageType" minOccurs="0"/>
        <xs:element ref="PURITY" minOccurs="0"/>
        <xs:element ref="ENANTIOMERIC_PURITY" minOccurs="0"/>
        <xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <xs:element name="EXPECTED_AMOUNT" type="molType" minOccurs="0"/>
        <xs:element name="EXPECTED_MASS" type="massType" minOccurs="0"/>
        <xs:element ref="SAMPLE_MASS" minOccurs="0"/>
        <xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ANALYTICAL_DATA" minOccurs="0" />
        <!-- EHS is reserved for future use - Environment and Health Safety data. -->
        <xs:element name="EHS" minOccurs="0" />
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="SAMPLES" minOccurs="0" />
      </xs:sequence>
      <!-- <xs:attribute name="ID" type="Id-Ref" use="required"/> -->
    </xs:complexType>
  </xs:element>

  <xs:element name="PRODUCT_ID" type="Id-Ref">
    <xs:annotation>
      <xs:documentation>
        Identifier of a product in the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PROJECT_NAME" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The name of the project given experiment (reaction) was performed for.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PROPERTY" type="namedPropertyType">
    <xs:annotation>
      <xs:documentation>
        Generic molecular property specified by its name attribute.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PROTECTING">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="PSA" type="psaType">
    <xs:annotation>
      <xs:documentation>
        The PSA (Polar Surface Area) of the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PURITY" type="percentageType" />

  <xs:element name="RANK" type="xs:integer"/>

  <xs:element name="REACTANT">
    <xs:annotation>
      <xs:documentation>
        Single reactant involved in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MOLECULE" type="moleculeRef" />
        <xs:element ref="NAME" minOccurs="0"/>
        <xs:element ref="AMOUNT" minOccurs="0"/>
        <xs:element ref="FORM" minOccurs="0"/>
        <xs:element ref="COLOR" minOccurs="0"/>
        <xs:element ref="VOLUME" minOccurs="0"/>
        <xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <xs:element ref="DENSITY" minOccurs="0"/>
        <xs:element ref="ENANTIOMERIC_PURITY" minOccurs="0"/>
        <xs:element ref="LOADING" minOccurs="0"/>
        <xs:element ref="MOLARITY" minOccurs="0"/>
        <xs:element name="PERCENT_WEIGHT" type="percentageType" minOccurs="0"/>
        <xs:element ref="SAMPLE_MASS" minOccurs="0"/>
        <xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ANALYTICAL_DATA" minOccurs="0" />
        <!-- EHS is reserved for future use - Environment and Health Safety data. -->
        <xs:element name="EHS" minOccurs="0" />
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="SAMPLES" minOccurs="0" />
      </xs:sequence>
      <!-- <xs:attribute name="ID" type="Id-Ref" use="required"/> -->
    </xs:complexType>
  </xs:element>

  <xs:element name="REACTANT_ID" type="Id-Ref">
    <xs:annotation>
      <xs:documentation>
        Identifier of a reactant in the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="REAGENT">
    <xs:annotation>
      <xs:documentation>
        Reagent used in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MOLECULE" type="moleculeRef" />
        <xs:element ref="NAME" minOccurs="0"/>
        <xs:element ref="AMOUNT" minOccurs="0"/>
        <xs:element ref="FORM" minOccurs="0"/>
        <xs:element ref="COLOR" minOccurs="0"/>
        <xs:element ref="VOLUME" minOccurs="0"/>
        <xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <xs:element ref="MOLARITY" minOccurs="0"/>
        <xs:element ref="PURITY" minOccurs="0"/>
        <xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ANALYTICAL_DATA" minOccurs="0" />
        <!-- EHS is reserved for future use - Environment and Health Safety data. -->
        <xs:element name="EHS" minOccurs="0" />
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="SAMPLES" minOccurs="0" />
      </xs:sequence>
      <!-- <xs:attribute name="ID" type="Id-Ref" use="required"/> -->
    </xs:complexType>
  </xs:element>

  <xs:element name="RESP_SCIENTIST" type="authorDetails">
    <xs:annotation>
      <xs:documentation>
        The scientist responsible for the design and the performance of the
        reaction (often a lab head).
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="RNG" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of rings in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="RTB" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>
        The number of rotatable bonds in the molecule.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="RXNSTRUCTURE">
    <xs:annotation>
      <xs:documentation>
        The diagram of the reaction represented an MDL RXN block, RInChI
        string etc.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="format" use="optional" default="rxn">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="cdxml" />
                <xs:enumeration value="rinchi" />
                <xs:enumeration value="rsmiles" />
                <xs:enumeration value="rxn" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="SAMPLE">
    <xs:annotation>
      <xs:documentation>
        Compound sample - a portion of material selected from a larger
        quantity of material.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SAMPLE_ID" /> <!-- Required -->
        <xs:element ref="SAMPLE_REF" minOccurs="0" />
        <xs:element ref="SAMPLE_MASS" minOccurs="0" />
        <xs:element name="BATCH_ID" type="xs:string" minOccurs="0" />
        <xs:element ref="AMOUNT" minOccurs="0"/>
        <xs:element ref="PURITY" minOccurs="0"/>
        <xs:element name="BARCODE" type="xs:string" minOccurs="0" />
        <xs:element ref="ANALYTICAL_DATA" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SAMPLES">
    <xs:annotation>
      <xs:documentation>
        List of compound samples.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SAMPLE" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SAMPLE_ID" type="xs:string"/>

  <xs:element name="SAMPLE_MASS" type="massType"/>

  <xs:element name="SAMPLE_REF" type="xs:string"/>

  <xs:element name="SCIENTIST" type="authorDetails">
    <xs:annotation>
      <xs:documentation>
        The scientist who performed the reaction.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="SECTION" type="sectionData">
    <xs:annotation>
      <xs:documentation>
        Generic extension point allowing embedding that will be skipped during
        validation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="SOLVENT">
    <xs:annotation>
      <xs:documentation>
        Solvent used in the reaction.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MOLECULE" type="moleculeRef" />
        <xs:element ref="NAME" minOccurs="0"/>
        <xs:element ref="AMOUNT" minOccurs="0"/>
        <xs:element ref="FORM" minOccurs="0"/>
        <xs:element ref="COLOR" minOccurs="0"/>
        <xs:element ref="VOLUME" minOccurs="0"/>
        <xs:element ref="DENSITY" minOccurs="0"/>
        <xs:element ref="EQUIVALENTS" minOccurs="0"/>
        <xs:element ref="SAMPLE_ID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="SAMPLE_REF" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMPOUND_NAME" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ANALYTICAL_DATA" minOccurs="0" />
        <!-- EHS is reserved for future use - Environment and Health Safety data. -->
        <xs:element name="EHS" minOccurs="0" />
        <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="SAMPLES" minOccurs="0" />
      </xs:sequence>
      <!-- <xs:attribute name="ID" type="Id-Ref" use="required"/> -->
    </xs:complexType>
  </xs:element>

  <xs:element name="SORT_TOTAL_VOLUME">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:float">
          <xs:attribute name="unit" type="unitVolume" use="optional" default="L" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="SYNONYM">
    <xs:annotation>
      <xs:documentation>
        Synonyms (alternative names) of the molecule.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="TITLE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The tile of the cited paper or patent.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="TOLERATED">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
      <xs:attribute name="CIT_ID" type="Id-Ref"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="TYPE" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Free-text string containing the type of the associated element:
        citation, comment etc.  For example, in case of citations it can
        contain: "paper", "book", "patent" or any other descriptive term.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="VOL" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The volume of the JOURNAL where the cited paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="VOLUME">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:float">
          <xs:attribute name="unit" type="unitVolume" use="optional" default="L" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="YEAR" type="xs:positiveInteger">
    <xs:annotation>
      <xs:documentation>
        The year the cited paper was published.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="sub">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="sup">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="sup"/>
        <xs:element ref="sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>


  <!--
      Data types.
  -->

  <xs:complexType name="analyticalData">
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="result_type" type="resultType" use="optional" />
  </xs:complexType>

  <xs:complexType name="analyticalDataUrl">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="result_type" type="resultType" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="authorDetails">
    <xs:sequence>
      <xs:element name="NAME" type="xs:string" /> <!-- Required -->
      <xs:element name="EMAIL" type="xs:string" minOccurs="0" />
      <xs:element name="PHONE" type="phoneNumber" minOccurs="0" />
      <xs:element name="ORGANISATION" type="organisationRef" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calcPropertyType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="method"   type="xs:string" use="optional" />
        <xs:attribute name="software" type="xs:string" use="optional" />
        <xs:attribute name="version"  type="xs:string" use="optional" />
        <xs:attribute name="unit"     type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CAS-Id">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2,7}-[0-9][0-9]-[0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="citationDetails">
    <xs:annotation>
      <xs:documentation>
        Details of citation associated with a reaction or a
        molecule. Citations can be scientific papers or patents.
      </xs:documentation>
    </xs:annotation>
      <xs:sequence>
      <xs:element ref="TYPE" minOccurs="0"/>
      <xs:element ref="AUTHORS" minOccurs="0"/>
      <xs:element ref="TITLE" minOccurs="0"/>
      <xs:element ref="JOURNAL" minOccurs="0"/>
      <xs:element ref="YEAR" minOccurs="0"/>
      <xs:element ref="VOL" minOccurs="0"/>
      <xs:element ref="PAGE" minOccurs="0"/>
      <xs:element ref="KEYWORD" minOccurs="0"/>
      <xs:element ref="DOI" minOccurs="0"/>
      <xs:element ref="PATENT_COUNTRY" minOccurs="0"/>
      <xs:element ref="PATENT_NUMBER" minOccurs="0"/>
      <xs:element ref="PATENT_ASSIGNEE" minOccurs="0"/>
      <xs:element ref="PATENT_KIND_CODE" minOccurs="0"/>
      <xs:element ref="PATENT_PUB_DATE" minOccurs="0"/>
      <xs:element ref="ABSTRACT" minOccurs="0"/>
      <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="citationDetailsID">
    <xs:complexContent>
      <xs:extension base="citationDetails">
        <xs:attribute name="ID" type="Id-Ref" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="citationRef">
    <xs:complexContent>
      <xs:extension base="citationDetails">
        <xs:attribute name="CIT_ID" use="optional" type="Id-Ref" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="copyrightData">
    <xs:sequence>
      <xs:element name="TEXT" type="xs:string" minOccurs="0" />
      <xs:element name="OWNER" type="xs:string" minOccurs="0" />
      <xs:element name="YEAR" type="xs:positiveInteger" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="href" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:simpleType name="decimalOrExcessType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:decimal" />
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="excess" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="equivalentType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="decimalOrExcessType">
        <xs:attribute name="unit" type="xs:string" use="optional" default="percent" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="floatRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
  </xs:complexType>
  
  <!-- Id-Ref - string IDs instead of positive long integers. -->
  <xs:simpleType name="Id-Ref">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Za-z|+/=\-]{1,40}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="licenseData">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="href" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="massType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unit" type="unitMass" use="optional" default="g" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="molarityRange" mixed="false">
    <xs:choice>
      <!-- max and/or max. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="unitMolarConcentration" use="optional" default="mol/L" />
  </xs:complexType>

  <xs:complexType name="molarityType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="unit" type="unitMolarConcentration" use="optional" default="mol/L" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:complexType name="moleculeDetails">
    <xs:sequence>
      <xs:element ref="MOLSTRUCTURE" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="MW" minOccurs="0"/>
      <xs:element ref="CLP" minOccurs="0"/>
      <xs:element ref="PSA" minOccurs="0"/>
      <xs:element ref="HEV" minOccurs="0"/>
      <xs:element ref="RTB" minOccurs="0"/>
      <xs:element ref="HBD" minOccurs="0"/>
      <xs:element ref="HBA" minOccurs="0"/>
      <xs:element ref="NOC" minOccurs="0"/>
      <xs:element ref="RNG" minOccurs="0"/>
      <!-- NOTE Added in v 5.0.0. -->
      <xs:element ref="PROPERTY" minOccurs="0" />
      <xs:element ref="CC_ID" minOccurs="0"/>
      <xs:element ref="MF" minOccurs="0"/>
      <xs:element ref="NAME" minOccurs="0"/>
      <xs:element ref="CAS" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="LINK" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="SYNONYM" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="CALCULATED" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CITATION" type="citationRef" minOccurs="0" maxOccurs="unbounded"/>
      <!-- EHS is reserved for future use - Environment and Health Safety data. -->
      <xs:element name="EHS" minOccurs="0" />
      <xs:element ref="SECTION" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="CIT_ID" type="Id-Ref"/>
    <!--Put Action="delete" if you want to delete the item-->
    <xs:attribute name="Action" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="moleculeDetailsID">
    <xs:complexContent>
      <xs:extension base="moleculeDetails">
        <xs:attribute name="ID" type="Id-Ref" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="moleculeRef">
    <xs:complexContent>
      <xs:extension base="moleculeDetails">
        <xs:attribute name="MOL_ID" use="optional" type="Id-Ref" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="molType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unit" type="unitAmountOfSubstance" use="optional" default="mol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!--
      TODO Find a way to re-use attributes from calcPropertyType by using
      attribute groups.
  -->
  <xs:complexType name="namedPropertyType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="name"   type="xs:string" use="optional" />
        <xs:attribute name="method"   type="xs:string" use="optional" />
        <xs:attribute name="software" type="xs:string" use="optional" />
        <xs:attribute name="version"  type="xs:string" use="optional" />
        <xs:attribute name="unit"     type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  
  <xs:complexType name="organisationDetails">
    <xs:annotation>
      <xs:documentation>
        Information about research organisation associated with a publication
        (citation) author and/or a scientists who performed a reaction.
     </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NAME" type="xs:string" minOccurs="0" />
      <xs:element name="ADDRESS" type="xs:string" minOccurs="0" />
      <xs:element name="COUNTRY" type="country" minOccurs="0" />
      <xs:element name="URL" type="xs:anyURI" minOccurs="0" />
      <xs:element name="EMAIL" type="xs:string" minOccurs="0" />
      <xs:element name="PHONE" type="phoneNumber" minOccurs="0" />
      <xs:element ref="COMMENT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="organisationDetailsID">
    <xs:complexContent>
      <xs:extension base="organisationDetails">
        <xs:attribute name="ID" type="Id-Ref" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="organisationRef">
    <xs:complexContent>
      <xs:extension base="organisationDetails">
        <xs:attribute name="ORG_ID" use="optional" type="Id-Ref" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="pageType" mixed="false">
    <xs:sequence>
      <xs:element name="start" type="xs:positiveInteger" />
      <xs:element name="end" type="xs:positiveInteger" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="percentageRange" mixed="false">
    <xs:choice>
      <!-- max and/or max with optional incr. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
        <xs:element name="incr" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:float">
                <xs:attribute name="unit" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="percent" />
  </xs:complexType>

  <xs:complexType name="percentageType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <!-- TODO minInclusive doesn't work. -->
        <!-- <xs:minInclusive value="0.0"/> -->
        <!-- <xs:maxInclusive value="100.0"/> -->
        <xs:attribute name="unit" type="xs:string" use="optional" default="percent" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- TODO Check the regular expresssion below. -->
  <xs:simpleType name="phoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9 \-()]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="pressureRange" mixed="false">
    <xs:choice>
      <!-- max and/or max. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="unitPressureOrStress" use="optional" default="torr" />
  </xs:complexType>

  <!--
      TODO Still haven't found a way to override default attribute value of
      unit, so we need a more verbose approach.
  -->
  <xs:complexType name="psaType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="method"   type="xs:string" use="optional" />
        <xs:attribute name="software" type="xs:string" use="optional" />
        <xs:attribute name="version"  type="xs:string" use="optional" />
        <xs:attribute name="unit"     type="xs:string" use="optional" default="Angstrom^2" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sectionData">
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute processContents="skip"/>
  </xs:complexType>

  <xs:complexType name="stirringRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="optional" default="rpm" />
  </xs:complexType>

  <xs:complexType name="temperatureRange" mixed="false">
    <xs:choice>
      <!-- max and/or max with optional incr. -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
        <xs:element name="incr" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:float">
                <!-- Currently neither QUDT nor Allotrope support any unit for
                     temperature increase over time. -->
                <xs:attribute name="unit" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="unitTemperature" use="optional" default="degC" />
  </xs:complexType>

  <xs:complexType name="timeRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="unitTime" use="optional" default="hr" />
  </xs:complexType>

  <xs:complexType name="volumeRange" mixed="false">
    <xs:choice>
      <!-- max and/or max -->
      <xs:sequence>
        <xs:element name="min" type="xs:float" minOccurs="0" />
        <xs:element name="max" type="xs:float" minOccurs="0" />
      </xs:sequence>
      <!-- exact value -->
      <xs:element name="exact" type="xs:float" />
    </xs:choice>
    <xs:attribute name="unit" type="unitVolume" use="optional" default="L" />
  </xs:complexType>

  <xs:simpleType name="YesNo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
